<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pp="https://ywendy.github.io/schema/people"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
https://ywendy.github.io/schema/people https://ywendy.github.io/schema/people/people.xsd">


    <pp:people id="tonyID" name="tony" age="18"/>

</beans>